NODE_ENV=development
PORT=3000

DB_HOST=db
DB_PORT=1433
DB_NAME=QLBV
DB_USER=sa
DB_PASSWORD=YourStrong!Passw0rd123
DB_ENCRYPT=false
DB_TRUST_CERT=true

REDIS_HOST=redis
REDIS_PORT=6379

JWT_SECRET=change-this-secret
JWT_EXPIRES_IN=1d

CORS_ORIGIN=http://localhost:8080
SOCKET_IO_CORS_ORIGIN=http://localhost:8080

NGINX_PORT=8080